{% extends 'my_blog/layout.html' %}

{% block content %}
{#    <h1>{{ title }}</h1>#}
    <div class="features">
        <h1 class="title">НОВИНКИ</h1>
        {% if story %}
            {% for item in story %}
                <div class="al ">
                    <h3>{{ item.title }}</h3>
                    <p class="summer">{{ item.summary }}</p>

                    <p class="date">дата публикации: {{ item.date_publisher }}</p>
                    <a href="{% url 'story-detail' item.id %}" class="btn btn-warning">Читать полностью</a>
                    <!-- /.btn -->
                </div>

            {% endfor %}
        {% else %}
            <p>Ещё нет записей</p>
        {% endif %}
    </div>

{% endblock %}

{% block title %}
    главная\каталог
{% endblock %}