{% extends 'my_blog/layout.html' %}

{% block content %}
    <div class="features1">
        <h1 class="title">О нас</h1>
        <div class="cont-about">
            <p class="content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi doloremque est et, explicabo inventore, itaque laborum libero maxime modi natus nesciunt nihil odit officiis praesentium qui quidem sed vero.</p>
            <p class="about-text"></p>

        </div>
        <button class="btn btn-danger">Каталог</button>

    </div>
{% endblock %}

{% block title %}
    ПРО НАС
{% endblock %}